.round-borders {
  border-radius: 8px;
}
.jumbotron {
  background-color: #E9EBD4;
  font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}
.container {
  background-color: #E9EBD4;
  color: black;
}
.container .FeaturedItem1 {
  background-color: #7A9A83;
  font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
  border-radius: 8px;
}
.container .FeaturedItem2 {
  background-color: #7A9A83;
  font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
  border-radius: 8px;
}
.container .FeaturedItem3 {
  background-color: #7A9A83;
  font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
  border-radius: 8px;
}
.container .FeaturedItem4 {
  background-color: #5a8082;
  color: black;
  border-radius: 8px;
}
.container .FeaturedItem5 {
  background-color: #5a8082;
  color: black;
  border-radius: 8px;
}
.container .FeaturedItem6 {
  background-color: #5a8082;
  color: black;
  border-radius: 8px;
}
